<div class="d-flex vh-100 text-center justify-content-center align-items-center" *ngIf="loading">
  <div class="spinner-border text-light" role="status">
  </div>
</div>





<div *ngIf="!loading && weatherResult" [@fadeInOut] class="container mt-5">
  <div class="row">
    <div class="col-sm-4">

      <gm-weather-main-card [weatherResult]="weatherResult"></gm-weather-main-card>

    </div>

    <div class="col-sm-8">

      <gm-weather-left-box [weatherResult]="weatherResult"></gm-weather-left-box>

      <gm-weather-left-temp [weatherResult]="weatherResult"></gm-weather-left-temp>

      <gm-weather-left-sun [weatherResult]="weatherResult"></gm-weather-left-sun>

    </div>
  </div>
</div>
