<div class="row">
  <div class="col-sm-4">

    <div class="card mb-3">
      <div class="card-header color-temp-min">
        <h5>Temp min</h5>
      </div>
      <div class="card-body d-flex justify-content-center align-items-center">
        <i class="bi bi-thermometer" style="font-size: 4rem; color: rgb(241, 188, 41)"></i>
        <h1 class="display-3">50</h1>
      </div>
    </div>

  </div>

  <div class="col-sm-4">

    <div class="card mb-3">
      <div class="card-header color-temp-max">
        <h5>Temp min</h5>
      </div>
      <div class="card-body d-flex justify-content-center align-items-center">
        <i class="bi bi-thermometer-sun" style="font-size: 4rem; color: rgb(221, 49, 49)"></i>
        <h1 class="display-3">60</h1>
      </div>
    </div>

  </div>

  <div class="col-sm-4">

    <div class="card mb-3">
      <div class="card-header color-humidity">
        <h5>Humidity</h5>
      </div>
      <div class="card-body d-flex justify-content-center align-items-center">
        <i class="bi bi-droplet-half" style="font-size: 4rem; color: rgb(71, 125, 243)"></i>
        <h1 class="display-3">78</h1>
      </div>
    </div>

  </div>



</div>
