// Default variable overrides

$body-bg: #0F2027;
//$body-color: #fff;
$font-family-sans-serif: Roboto, "Helvetica Neue", sans-serif;
$font-weight-base: 300;

body, html{
  background-image: linear-gradient(to right, #0F2027, #203A43, #2C5364, #2C5364, #203A43, #0F2027);
}



@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

@import "../node_modules/bootstrap/scss/bootstrap.scss";


