<div class="main-weather">
  <div [ngStyle]="{'background-image': 'url(' + photo + ')'}" class="weather-side">
    <div class="weather-gradient"></div>
    <div class="date-container">
      <h2 class="m-0">Tuesday</h2><span class="date-day">15 Jan 2019</span><i class="bi bi-geo-alt-fill"></i><span
        class="location mt-8">Paris, FR</span>
    </div>
    <div class="weather-container"><i class="bi bi-brightness-high" style="font-size: 8rem;"></i>
      <h1 class="weather-temp m-0">29°C</h1>
      <h3 class="m-0">Sunny</h3>
    </div>
  </div>

</div>
